@import "tailwindcss";

@keyframes marquee-infinite {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-slow {
  display: flex;
  width: max-content;
  animation: marquee-infinite 35s linear infinite;
}

.animate-marquee-slow:hover {
  animation-play-state: paused;
}
