@import "tailwindcss";

@layer base {
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
  }
}

@keyframes marquee-infinite {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-slow {
  display: flex;
  width: max-content;
  animation: marquee-infinite 35s linear infinite;
}

.animate-marquee-slow:hover {
  animation-play-state: paused;
}

